.button {
  height: 50px;
  padding: 0 32px;
  border-radius: 8px;
  font-weight: 500;
  background: #835afd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  color: #fff;
  transition: filter 0.2s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  img {
    margin-right: 8px;
  }
}